form div{
     
    
     
    margin: 10px;
    
    
    

}
label{
    width: 200px;
    display: inline-block;
    font-size: 1.5rem;

}
form{
    display: inline-block;
    background-color: blueviolet;
}
 

